body {
    font-family: calibri;
    background-color: #92F892;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;

}
#logo{
    background-image: url('https://cdn.pixabay.com/photo/2016/03/06/06/42/low-poly-1239778_960_720.jpg');
    width: auto;
    height: 145px;

}

#BOX {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30%;
    background: #018401;
    backdrop-filter: blur(5px);
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: #BDF8B9;

}

h1,
h2 {
    text-align: center;
    font-size: 50px;
}

h3 {
    text-align: center;
    font-size: 35px;
    color: #2E2E2E;
}

p {
    text-align: center;
    color: #2E2E2E;
}

tr,
th {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 6px;

}

#verde {
    background-color: #04B404;
}

#laranja {
    background-color: #FF4500;
}

#vermelho {
    background-color: red;
}

table {
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
    font-size: 30px;
    border-spacing: 5px;
}
